        <div id="cover" class="clear">
			<div class="index colSix floatLeft">
				<h2>List of <em>applications</em>&hellip;</h2>
				<ul>
				    {% for post in site.posts limit:7 %}
					<li>
						<a href="{{ post.url }}/#notebook" title="{{ post.title }}">
							<span class="date">
								<span class="day">{{ post.date | date: '%d' }}</span>
								<span class="month"><abbr>{{ post.date | date: '%b' }}</abbr></span>
							</span> 
							<span class="title">{{ post.title }}</span>
						</a>
					</li>
                    {% endfor %}
				</ul>
				<p class="more"><a class="internal floatRight" href="/archives.html#cover" title="View the notebook archives">&hellip;flick through the archives</a></p>
			</div> <!-- /.index.colSix.floatLeft -->
			<div class="clear"></div>
		</div> <!-- /#cover.clear -->
