{% include JB/setup %}
        <div id="header" class="center">
			<div class="logo floatLeft">
				<img style="width: 22.4em; height: 25.0em;"
				     alt="reader" src="{{ BASE_PATH }}/images/zzz.gif" />
			</div>
			<div class="hero floatRight">
				<h1>
					<a href="{{ BASE_PATH }}/" title="Return to homepage" tabindex="0" accesskey="H">
						Design report
					</a>
				</h1>
				<p class="moin">
					student: Baskakov O. A.</p>
				<p class="moin">
					teacher: Gorskiy K. P.</p>
				<p class="moin">
					year: 2013</p>
				<hr />
				<p><em>Home book library is a good geek service for get your books everywhere.
				</em></p>
			</div>
			<div class="skip">
				<span>Straight to: <a href="{{ BASE_PATH }}/lab6_result.html" title="Skip straight to the result" tabindex="0" accesskey="F">&sect; Results</a></span>
			</div>
		</div> <!-- /#header.center -->